cloudevents==1.10.1
dapr==1.11.0
fastapi==0.111.0
grpcio==1.62.1
pydantic==2.4.2
requests==2.32.0
uvicorn==0.23.2
aiohttp==3.10.2
azure-ai-documentintelligence==1.0.0b4
azure-core==1.30.2
azure-storage-blob==12.22.0
groq==0.11.0
azure-eventgrid==4.20.0
openai==1.43.0